.DS_Store
.ipynb_checkpoints/DS_Model-checkpoint.ipynb
.ipynb_checkpoints/DS_Model_allstats-checkpoint.ipynb
.ipynb_checkpoints/DS_Model_allstats_scaled-checkpoint.ipynb
.ipynb_checkpoints/Preprocessing-checkpoint.ipynb
.ipynb_checkpoints/random_forests-checkpoint.ipynb
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*