.topBanner {
    background-color: #17408B;
    color: white;
}

.panel-title {
    color: black
}

.row {
    padding: 10px;
}

.col-md-10 {
    border-bottom: groove;
    border-width: 2px;
}

.btn {
    background-color: #17408B;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#division_map {
    position:relative;
    width: 200%;
    z-index:0;
    background-position: center;
    background-repeat: no-repeat;
}

#timeline {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    table-layout: fixed ;
    width: 100% ;
    text-align: center;
}



