.topBanner {
    background-color: #17408B;
    color: white;
}

.panel-title {
    color: black
}

.row {
    padding: 10px
}

#division_map {
    position:relative;
    width: 200%;
    /* padding: 5%; */
    z-index:0;
    background-position: center;
    /* opacity: 0.45; */
    background-repeat: no-repeat;
}

#timeline {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    table-layout: fixed ;
    width: 100% ;
    text-align: center;
}



