.topBanner {
    background-color: #17408B;
    color: white;
}

.panel-title {
    color: black
}

#division_map {
    position:relative;
    height: 350px;
    z-index:0;
    background-position: center;
    /* opacity: 0.45; */
    background-repeat: no-repeat;
}

#timeline {
    height: 300px
}

table {
    table-layout: fixed ;
    width: 100% ;
    text-align: center;
}

